#main-menu {
    background-color: white;
    padding-top: 0px;
	padding-left: 40px;
    color: #000000;
	font-family: 'Roboto', sans-serif;
}
#main-menu a {
	color: #707070;
	text-decoration: none;
	font-size: 14pt;
    padding-left: 5px;
    padding-right: 5px;
}
#main-menu a:hover {
	color: #121212;
}
#main-menu h1 {
    padding-top: 20px;
    font-size: 18px;
}

#home {
    padding-top: 20px;
	padding-left: 30px;
}
#home img {
    width:80%
}

#profile {
    padding-top: 20px;
	padding-left: 30px;
}
#profile img {
    width:50%
}
#profile p {
    font-family: 'Roboto', sans-serif;
}

#projects {
    padding-top: 15px;
}
#project {
    padding-top: 5px;
    display: unset;
}
#project a {
    padding-left:15px;
}
#project img {
    padding-left: 50px;
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: auto;
}
